body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f1e1; 
  display: flex;
  flex-direction: column;  
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}
/*--------------------Navigation Bar----------------------*/
.navbar {
  background-color: #6a4c3c; 
  padding: 15px 0;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
}

.navbar ul li a:hover {
  background-color: #000000;  
}


/* Table Styling */
table {
  width: 80%;       
  margin: 0 auto;    
  border-collapse: collapse;
  text-align: left;
}
table th {
  background-color: #6a4c3c;  
  color: white;
}

.HomeHeader {
  text-align: center;
}

/*--------------------Contact Us----------------------*/
.ContactUs{
    text-align: center;
}
input[type="text"], input[type="email"], input[type="number"], textarea {
  width: 45%;             
  padding: 12px;          
  font-size: 16px;        
  margin-bottom: 20px;     
  border: 1px solid #ccc; 
  border-radius: 5px;      
}
textarea{
  height: 150px;
  resize: none;
}
h3 {
  text-align: center;  /* Centers the "Follow Us" text */
  font-size: 1.5em;
  margin-top: 40px;    /* Adds space above the heading */
}
.social-icons {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 2rem;
}
.social-icons img {
  width: 40px;
}

/* Footer styles */
.footer {
  background-color: #6a4c3c;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}


/*--------------------About Us----------------------*/
.story-section {
  text-align: center;
  max-width: 700px; 
  margin: 0 auto; 
  padding-top: 30px; 
  line-height: 1.5; 
    margin-top: 80px;

}

/*--------------------Home Page----------------------*/
.home-content {
 
  text-align: center;
  
  
  
  /* Add space between navbar and heading */
  padding-top: 60px; 
}

/* Style the big "Welcome" heading */
.home-content h1 {
  font-size: 2.8em; /* Large font */
  font-weight: 600; 
  color: #444;       
  margin-bottom: 15px;
}

/* Style the paragraphs */
.home-content p {
  color: #666; 
}

/* Style the horizontal line */
.home-content hr {
  border: 0; 
  height: 1px; 
  background-color: #000000; 
  
  
  width: 70%; 
  
  
  margin: 30px auto; 
}
